{% extends 'base.html.twig' %}

{% block title %}Secret santa - Homepage{% endblock %}

{% block body %}
<section class="homepage">
    <div class=" homepage__wrapper">
        <div class="homepage__createTeam ">
            <div class="wrapper">
                <h2>Créer ton équipe</h2>
                <h3>QU’EST CE QU’UN SECRET SANTA ?</h3>
                <p>C’est très simple, c’est le plaisir d’offrir à nos amis ou a des gens intéréssés par les mêmes choses que nous. Rejoignez un groupe ou crééez le votre afin de vous voir attribuer un match aléatoire. Vous seul connaissez votre match.</p>
                <a href="#" class="btn btn--red">Créer mon équipe</a>
            </div>
        </div>
        <div class="homepage__joinTeam ">
            <div class="wrapper">
                <h2>REJOINS TES AMIS</h2>
                <form action="#">
                    <input type="text" placeholder="Code d’accès" class="inputField">
                    <button type="submit" class="btn btn--red">Rejoindre</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
