// Colors
$main-red: #FD4444;
$light-grey: #CCCCCC;
$deep-grey: #9B9B9B;
$dark-grey: #4A4A4A;
$white: #FFFFFF;
$deep-green: #1AE67B;
$deep-purple: #8242FF;
$deep-orange: #F8782F;
// Spacing
$small-space: 2rem;
$normal-space: 4rem;
$large-space: 8rem;