{% extends 'base.html.twig' %}

{% block title %}Edit Wishe{% endblock %}

{% block body %}
    <h1>Edit Wishe</h1>

    {{ include('wishe/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('wishe_index') }}">back to list</a>

    {{ include('wishe/_delete_form.html.twig') }}
{% endblock %}