{% extends 'base.html.twig' %}

{% block title %}New Wishe{% endblock %}

{% block body %}
    <h1>Create new Wishe</h1>

    {{ include('wishe/_form.html.twig') }}

    <a href="{{ path('wishe_index') }}">back to list</a>
{% endblock %}