<header class="main-header">
  <main class="wrapper main-header__wrapper">
    <ul class="main-header__links">
      <li>Connexion</li>
      <li>Inscription</li>
      <li class="current" >Accueil</li>
    </ul>
    <div class="main-header__logo">
      <h1>Secret Santa</h1>
    </div>
  </main>
</header>